layout {
    default_tab_template {
        children
    }
    pane split_direction="vertical" {
        pane command="lnav" {
            name "Rclone logs"
            args "/tmp/rclone-job.log"
        }
        pane command="sh" {
            name "job and upload speed monitor"
            args "-c" "btop -f job.sh --config \"$SCRIPT_DIR/btop-monitor.conf\""
        }
    }
    pane size=1 borderless=true command="sh" {
        args "-c" "printf 'Use CTRL+Q to quit'; sleep infinity"
    }
}